<!DOCTYPE html>
html(lang="en")
  head
    block head
      include _meta
      link(rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
      link(rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ffffff")
      link(rel="msapplication-TileColor" content="#ffffff")
      link(rel="manifest" href="/manifest.webmanifest")
      include _styles

      script(src="https://unpkg.com/eva-icons" async onload="eva.replace()" crossorigin="anonymous" SameSite="none Secure")
  body
    block body
      .ribbons
        block ribbons

    block scripts
      if ENV === 'production'
        script(src="sw-register.js")