block styles
  link(rel="stylesheet", href="styles/skribul.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")