extends _layout

block append styles
  link(rel="stylesheet", href="styles/skribul-browse.css")

block append body
  .items
    each item in items
      a.item.shadow(href=item.slug)
        img.preview(src='/preview/' + item.slug)

block append ribbons
  a.ribbon.shadow(href="/", title="Editor")
    i(data-eva="edit-outline")