extends _layout

block append meta
  link(rel="canonical" href=BASE_URL)
  meta(property="og:url" content=BASE_URL)

block append styles
  link(rel="stylesheet" href="styles/skribul-editor.css")

block append body

  canvas(id="canvas")

  .picker-container
    label(for="color-picker" style="position: absolute; bottom: -99999px") Color
    input(type="color" class="shadow" name="color" id="color-picker")

  .menu
    block menu
      button(type="button", class="menu-item save shadow", onclick="save()", title="Share")
        i(data-eva="share-outline")
      a(href="/", class="menu-item clear shadow", title="Refresh")
        i(data-eva="refresh-outline")


  #overlay.overlay
    h4 Saving...

block append ribbons
  a.ribbon.shadow(href="/browse", title="Browse")
    i(data-eva="grid-outline")

block append scripts
  script(src="scripts/skribul.js")