<!DOCTYPE html>
html(lang="en")
  block head
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="theme-color", content="#ffffff")
      title Skribul

      meta(property="og:title" content="Skribul")

      link(rel="stylesheet", href="styles/skribul.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
  body
    canvas(id="canvas")

    .colors
      each color in ['black', 'white', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
        button(type="button", class="color shadow", onclick="setStyle('" + color + "')", style="background: " + color + ";", title=color)

    .menu
      button(type="button", class="save shadow", onclick="save()", title="Save")
        i.material-icons save
      button(type="button", class="clear shadow", onclick="clearCanvas()", title="Clear")
        i.material-icons refresh

    #overlay.overlay
      h4 Saving...

    block scripts
      script(src="scripts/skribul.js")