extends index.pug

block append head
  meta(property="og:image:secure" content=base + '/preview/' + slug)

block append scripts
  script(type="text/javascript").

    window.addEventListener('load', function(){
      console.log('rendering');
      render('#{image}');
    });