extends index.pug

block append head
  meta(property="og:image" content='/preview/' + slug)

block append scripts
  script(type="text/javascript").

    window.addEventListener('load', function(){
      console.log('rendering');
      render('#{image}');
    });