body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
}

img {
  display: block;
}

.items .item {
  border-radius: 4px;
  margin: 4px;
  overflow: hidden;
}

.items .item .preview {
  height: 150px;
  width: 200px;
}