body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  user-select: none;
  cursor: crosshair;
}

.colors {
  max-width: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.colors .color {
  margin: 0.25rem;
  height: 2rem;
  width: 2rem;
  transition: all 0.2s;
}

@media (min-width: 600px) {
  .colors {
    max-width: unset;
  }

  .colors .color {
    height: 3rem;
    width: 3rem;
  }
}

.colors .color:hover {
  filter: brightness(90%);
}

.colors .color:not(.active) {
  border: 2px transparent;
}

.colors .color.active {
  border-color: #333;
  border-radius: 50%;
}

canvas {
  touch-action: none;
}

button,
.menu-item {
  appearance: none;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

button:active,
button:focus,
.menu-item:active,
.menu-item:focus {
  outline: 0;
}

.menu {
  position: fixed;
  padding: 1rem;
  top: 0;
  right: 0;
  display: flex;
}

.menu .menu-item {
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 0rem 0.5rem;
  transition: transform 0.2s;
  padding: 0.25rem 1.25rem;
  background: #ededed;
}

.menu .menu-item:hover {
  background: white;
  transform: scale(1.1);
}

.black {
  background: black;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.indigo {
  background: indigo;
}

.violet {
  background: violet;
}

.overlay {
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  background: rgba(0, 0, 0, 0.5);
}

.overlay:not(.visible) {
  display: none;
}

.overlay h4 {
  color: white;
  font-size: 2rem;
}