.items {
  padding: 12px 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 600px) {
  body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .items {
    max-width: 1260px;
  }
}

img {
  display: block;
}

.items .item {
  border-radius: 4px;
  margin: 6px;
  overflow: hidden;
}

.items .item .preview {
  width: 100%;
  max-width: 600px;
  height: auto;
}