body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  user-select: none;
  cursor: crosshair;
  touch-action: none;
}

.picker-container {
  position: fixed;
  bottom: 25px;
}

#color-picker {
  border: 2px solid #ededed;
}

input {
  appearance: none;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  border: 0;
  padding: 0;
  height: 50px;
  border-radius: 50%;
  width: 50px;
}

button,
.menu-item {
  appearance: none;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

.menu {
  position: fixed;
  padding: 1rem;
  top: 0;
  right: 0;
  display: flex;
}

.menu .menu-item {
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 0rem 0.5rem;
  transition: transform 0.2s;
  padding: 0.25rem 1.25rem;
  background: #ededed;
}

.menu .menu-item:hover {
  background: white;
  transform: scale(1.1);
}

.overlay {
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  background: rgba(0, 0, 0, 0.5);
}

.overlay:not(.visible) {
  display: none;
}

.overlay h4 {
  color: white;
  font-size: 2rem;
}